name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install docutils library
        run: python3 -m pip install docutils
      - name: Lint restructuredtext.rst
        run: rst2pseudoxml.py -v --exit-status=1 restructuredtext/restructuredtext.rst /dev/null
